nav {
    background-color: rgb(31, 31, 31);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aquamarine;

    .links{
        a {
            text-decoration: none;
            color: #a0a0a0;
            font-weight: bold;
            padding: 0 15px;
            &:hover {
                color: #0056b3;
            }
        }
        button{
            margin: 0 15px;
            padding: 10px;
            border-radius: 15px;
            border: 0;
            background-color: #ffffff8c;
            font-weight: bold;
            &:hover {
                background-color: #ff797994;
            }
        }
    }
}